/*UNIVERSAL*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:900|Raleway:400,700');
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  text-shadow: 2px 1px #000;
}

.h1, h1 {
    font-size: 60px;
}

.playfair-text {
  font-family: 'Playfair Display SC', serif;
}

.raleway-text {
  font-family: 'Raleway', sans-serif;
}

.blue-text {
  color: #4682B4;
}

.grey-text {
  color: #484848;
}

.white-text {
  color: #fff;
}
/*navbar section*/
.navbar {
  margin: 0;
}

/*hero section*/
#hero-image {
  background-image: url('../img/rolled_up_maps.jpg');
  background-size: cover;
  height: 250px;
  width: 100%;
  margin: 0px 0px 25px;
}

h1.blue-text {
  margin-top: 85px;
  display: flex;
  justify-content: center;
}

h3.white-text{
  display: flex;
  justify-content: center;
  text-shadow: 2px 1px #000;
}

/*portfolio section*/
#profile {
  display: flex;
  justify-content: center;
}

#website-image {
  background-image: url('../img/cs_tree_website.jpg');
  background-size: cover;
  height: 200px;
  width: 100%;
  margin: 25px 0px;
}
/*navbar*/
.navbar-inverse {
  background-color: #191919;
  border-color: #202020;
}

/*my story section*/
#my-story p{
  display: flex;
  justify-content: flex-start;
}

#aaron.my-photo img {
  width:290px;
  height:300px;
  margin: 10% 25% 5%;
  box-shadow: 10px 10px 5px #888888;
}

/*photos section*/
#three-photos.photos {
  background-color: #4682B4;
}

#three-photos.photos img {
  width:290px;
  height:290px;
  margin: 30px 0px;
}
.music-records,.pyramid,.stormtrooper-toy {
  text-align: center;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #202020;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container-fluid:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap;
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/*contact section*/
.flex-container {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.form-container {
  background-color: #F2F2F2;
  margin: 25px 0px 25px;
  padding: 20px;
  box-shadow: 10px 10px 5px #888888;
}

.form-container h4 {
  margin-top: 0px;
}

.contact-form textarea {
  max-width: 100%;
  max-height: 100px;
}

.danger {
  border-color: #f00;
}

/*footer*/
footer {
  background-color: #191919;
}
