/*UNIVERSAL*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:900|Raleway:400,700');
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  text-shadow: 2px 1px #191919;
}

h3 {
  font-size: 20px;
}

.playfair-text {
  font-family: 'Playfair Display SC', serif;
}

.raleway-text {
  font-family: 'Raleway', sans-serif;
}

.blue-text {
  color: #4682B4;
}

.grey-text {
  color: #484848;
}

.white-text {
  color: #fff;
}

.flex-container {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

/*Navbar Section*/
.navbar-default {
  background-color: #101010;
  border: none;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #696969;
  color: #fff;
}
.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #4682b4;
  background-color: #696969;
  text-shadow: 1px 1px rgba(0, 0, 0, .4);
}
/*Hero Sction*/
#hero-image { /*hero img*/
  background-image: url('../img/rolled_up_maps.jpg');
  background-size: cover;
  height: 400px;
  width: 100%;
  margin: 0px 0px 5px;
}
.am-logo {
  margin-top: 145px;
  width: 300px;
  background-color: rgba(228, 228, 228, 0.58)
}
/*profile section*/
.profile-para {
  margin-bottom: 20px;
}
#apple-dektop-img { /*divider image*/
  background-image: url('../img/apple_desktop_monitor.jpg');
}
#double-monitors-img { /*divider image*/
  background-image: url('../img/double-monitors.jpg');
}
#code-monitor-img { /*divider image*/
  background-image: url('../img/code_monitor.jpg');
  margin-top: 25px;
}
#apple-dektop-img, #double-monitors-img, #code-monitor-img { /*all divider images*/
  background-size: cover;
  height: 200px;
  width: 100%;
}
/*my story*/
.story-col {
  margin-top: 5%;
}
#my-story p h3{
  display: flex;
  justify-content: flex-start;
}
#aaron.my-photo img { /*Profile Img*/
  width:290px;
  height:300px;
  margin: 20px 0px 30px 0px;
  box-shadow: 4px 4px 1px #888888;
}
/*skills section*/
img.center-block.img-responsive.icon { /*Icon margin-top*/
  margin-top: 10px;
}
.label { /*Level of skills font size*/
  font-size: 100%;
}
span.label.label-danger:hover { /*Button Link to Github Account*/
  background-color: #f2cccb;
}
span {
  width: 350px
}

/*contact section*/
.form-container {
  background-color: #d2d2d2;
  margin-top: 25px;
  padding: 20px;
}

.form-container h4 {
  margin-top: 0px;
}

.contact-form textarea {
  max-width: 100%;
  max-height: 100px;
}

.danger {
  border-color: #f00;
}
